.container{
    margin: 0 auto;
    width: 90%;
    height: 90vh;
    background-color: aquamarine;
    border: medium solid black;
}
.item{
    padding: 1rem;
    background-color: blueviolet;
    border: medium solid greenyellow;
}
.grid-areas{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px repeat(2, 1fr) 60px;
    grid-template-areas: 
        "header header"
        "content sidebar"
        "content ."
        "footer footer"
    ;
}
.header{
    grid-area: header;
}
.content{
    grid-area: content;
}
.sidebar{
    grid-area: sidebar;
}
.footer{
    grid-area: footer;
}

