.container{
    margin: 0 auto;
    width: 90%;
    height: 90vh;
    background-color: aquamarine;
    border: medium solid black;
}
.item{
    padding: 1rem;
    background-color: blueviolet;
    border: medium solid greenyellow;
}
.grid-order{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.grid-order .item:nth-child(1){
    order : 1 ;
}
.grid-order .item:nth-child(2){
    order : 2 ;
}
.grid-order .item:nth-child(5){
    order : -1;
}


