.container{
    margin: 0 auto;
    width: 90%;
    height: 90vh;
    background-color: aquamarine;
    border: medium solid black;
}
.item{
    padding: 1rem;
    background-color: blueviolet;
    border: medium solid greenyellow;
}
.grid-dynamic{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}
