.container{
    margin: 0 auto;
    width: 90%;
    height: 90vh;
    background-color: aquamarine;
    border: medium solid black;
}
.item{
    padding: 1rem;
    background-color: blueviolet;
    border: medium solid greenyellow;
}
.grid-implicita{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 150px);
}